<html>
    <head>
        <title>Tamtzit - Editing {{lang}}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <script src="{{url_for('static', filename='tamtzit-common.js', version='20240721')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            const TEXT_BEING_EDITED = "translated_text";
            const LENGTH_LABEL = "Length:";
            const CHARACTERS_LABEL = "characters";

            function fix_alignment(text) {
                var lang = "{{lang}}";
                if (lang == "YY") {
                    return "<div dir=\"rtl\">" + text + "</div>";
                } else {
                    return text;
                }
            }

            function showPreview() {
//                document.getElementById("orig_heb_panel").style.width="1%";
                document.getElementById("orig_heb_panel").style.display="none";
                document.getElementById("translation_panel").style.width="48%";
                document.getElementById("preview_panel").style.width="50%";
                document.getElementById("preview_panel").style.display="initial";
                document.getElementById("preview_panel").innerHTML=fix_alignment(makeWhatsappPreview(document.getElementById("translated_text").value));
                document.getElementById("preview_button").textContent="Hide Preview";
                document.getElementById("preview_button").setAttribute("onclick","javascript: hidePreview();");
            }

            function hidePreview() {
//                document.getElementById("preview_panel").style.width="1%";
                document.getElementById("preview_panel").style.display="none";
                document.getElementById("preview_panel").innerHTML="";
                document.getElementById("orig_heb_panel").style.width="40%";
                document.getElementById("orig_heb_panel").style.display="initial";
                document.getElementById("translation_panel").style.width="58%";
                document.getElementById("preview_button").textContent="Preview";
                document.getElementById("preview_button").setAttribute("onclick","javascript: showPreview();");
            }

            function swap_hebrew_view() {
                button_text = document.getElementById("swap_hebrew_view").innerText;
                if (button_text == "Show latest") {
                    document.getElementById("heb_text_area").value = latest_status["by_lang"]["--"]["text"];
                    document.getElementById("swap_hebrew_view").innerText = "Show my start";
                    document.getElementById("pull_additions_button").style.visibility = "hidden";
                } else {
                    document.getElementById("heb_text_area").value = starting_hebrew_text;
                    document.getElementById("swap_hebrew_view").innerText = "Show latest";
                    document.getElementById("pull_additions_button").style.visibility = "visible";
                }
            }

            var starting_hebrew_text = `{{orig_heb_text}}`;
            var last_saved_translation = `{{translated}}`;
            var is_finished = "True" === "{{is_finished}}";
            var in_progress = "True" === "{{in_progress}}";
            var manual_saves_only = "True" === "{{user_info['overrides'] is defined and 'manual_save_only' in user_info['overrides']}}";
            var last_draft_save_result_good = false;

            function copy_to_clipboard() {
                copyToClipboard('translated_text');
                if (manual_saves_only) {
                    saveDraft(true);
                }
            }

            function copy_review_link() {
                var review_msg = "For review: " + document.location.href;
                review_msg = review_msg.replace("&edit=true", '')
                review_msg = review_msg.replace("edit=true", '')
                copyToClipboardTrick(review_msg);  
            }            

            function translation_changed() {
                if (manual_saves_only) {
                    return;
                }
                update_char_count();
                if (document.getElementById("preview_panel").style.display=="initial") {
                    document.getElementById("preview_panel").innerHTML=makeWhatsappPreview(document.getElementById("translated_text").value);
                }

                if (last_saved_translation.localeCompare(document.getElementById('translated_text').value) != 0) {
                        document.getElementById("is_saved").innerText = "Changes NOT YET Saved!";
                        document.getElementById("is_saved").style.color = "#FF0000";

                        is_finished = false;
                } 
            }

            function publish() {
                saveDraft(force=true, set_finished=true);
                document.getElementById("finish_button").style.backgroundColor="#66BB66";
                observe_only();
                document.getElementById("finish_button").disabled = false; // this is because it seems sometimes the publish signal isn't
                                                                          // being received or acked, and editors think changes not yet saved
                                                                          // so I'm making it possible to "publish" repeatedly.
                is_finished = last_draft_save_result_good;
            }

            function saveDraft(force=false, set_finished=false) {
                if (manual_saves_only && !force) {
                    return;
                }
                if (is_finished && !force) {
                    return;
                }
                curr_translation = document.getElementById('translated_text').value;
                if (force || last_saved_translation.localeCompare(curr_translation) != 0) {

                    try {
                        $.post("/saveDraft",
                        {
                            draft_key: "{{draft_key}}",
                            translation: curr_translation,
                            is_finished: set_finished
                        },
                        function(data,status) {
                            console.log("Draft save status: " + status);
                            if (status === "success") {
                                document.getElementById("is_saved").innerText = "All Changes Saved";
                                document.getElementById("is_saved").style.color = "#33AA33";
                                last_saved_translation = curr_translation;
                                last_draft_save_result_good = true;
                            } else {
                                last_draft_save_result_good = false;
                            }
                        });
                    } catch (err) {
                        alert("Error communicating with the server, changes NOT saved. Will retry in 30 seconds.");
                    }
                }
            }

            function enable_edit() {
                document.getElementById("translated_text").disabled = false;
                document.getElementById("edit_anyway_button").style.visibility = "hidden";
                document.getElementById("finish_button").disabled = false;
                document.getElementById("heb_text_area").disabled = false;
                document.getElementById("pull_additions_button").disabled = false;
            }

            function observe_only() {
                document.getElementById("heb_text_area").disabled = true;
                document.getElementById("translated_text").disabled = true;
                document.getElementById("finish_button").disabled = true;
                document.getElementById("edit_anyway_button").style.visibility = "visible";
                if (is_finished) {
                    document.getElementById("finish_button").style.backgroundColor="#66BB66";
                }
                document.getElementById("pull_additions_button").disabled = true;
            }

            function search(string, regexp, from = 0) {
                const index = string.slice(from).search(regexp);
                return index === -1 ? -1 : index + from;
            }

            async function pullAdditions() {
                if (!confirm("*IF* there have been additions to the Hebrew text " +
                "they will be added to the Hebrew and Translation here.\n\n" +
                "Only *newly added entries* will be copied, no other changes. They will be marked in the Hebrew with\n\n" +
                "                    ++++++++++.\n\n")) {
                    return;
                }
                alert("Please wait, this update takes about 10 seconds. It can only be requested once per minute.");
                document.getElementById("pull_additions_button").disabled = true;
                document.getElementById("heb_text_area").disabled = true;
                document.getElementById("translated_text").disabled = true;

                // do the update...
                var server_says = await (await fetch("/getUntranslatedAdditions?heb_draft_id={{heb_draft_id}}&translation_draft_id={{draft_key}}&lang={{lang}}")).json();
                if ('additions' in server_says) {
                    var num_section_additions = 0;
                    var num_additions = 0;
                    hta = document.getElementById('heb_text_area');
                    // this pattern is unexpected, had to be refined because:
                    // 1. the text is one long block, we're not actually looking for these things at the "start of the line" as there are no lines
                    // 2. the emphasis marks may or may not be there in the Hebrew, depending on where it came from, it may have been pasted without those
                    var section_start_pat = "\\n\\n.?[📌>] \\*?_?";

                    for (key in server_says['additions']) {
                        ht = hta.value;
                        // console.log("processing key " + key);
                        var pat = section_start_pat + key + ":_?\\*?\\n\\n";
                        var re = new RegExp(pat, "g");
                        var section_start_pos = ht.search(re);
                        var next_section_start_pos = -1;
                        var newlines_before = true;
                        if (section_start_pos == -1) {
                            // the section is absent - it was deleted manually, then re-added, or it's "unknown"
                            last_three_dots_pos = ht.lastIndexOf(' •   •   •');
                            prev_three_dots_pos = ht.lastIndexOf(' •   •   •', last_three_dots_pos);
                            prev_three_dots_pos = ht.lastIndexOf(' •   •   •', prev_three_dots_pos);
                            next_section_start_pos = prev_three_dots_pos - 2;
                        } else {
                            // console.log("Found that section starting at index " + section_start_pos + " which looks like this:");
                            // console.log(ht.substring(section_start_pos, section_start_pos + 50));
                            var next_section_start_pos = search(ht, section_start_pat, section_start_pos + 10);
                            newlines_before = (next_section_start_pos != -1);
                            if (next_section_start_pos == -1) {
                                // this happens if the addition is to the last section, which is common
                                // so instead we'll add it immediately after the section header we just found
                                m = ht.match(pat, "g")
                                next_section_start_pos = section_start_pos + m[0].length;
                            }
                        }
                        // console.log("The next section starts at index " + next_section_start_pos + " which looks like this:");
                        // console.log(ht.substring(next_section_start_pos, next_section_start_pos + 50));
                        num_section_additions += 1;
                        added_bullets = server_says['additions'][key];
                        // console.log("There are " + added_bullets.length + " new entries to add there");
                        
                        // add them
                        head = ht.substring(0, next_section_start_pos);
                        tail = ht.substring(next_section_start_pos);
                        if (newlines_before) {
                            updated_content = head + "\n\n++++++++++++++++++++++++++\n";
                        } else {
                            updated_content = head + "++++++++++++++++++++++++++\n";
                        }

                        for (b=0; b<added_bullets.length; b++) {
                            updated_content = updated_content + added_bullets[b];
                            if (b < added_bullets.length - 1) {
                                updated_content = updated_content + "\n\n";
                            }
                            num_additions += 1;
                        }
                        updated_content = updated_content + "\n++++++++++++++++++++++++++";
                        hta.value = updated_content + tail;
                    }

                    eta = document.getElementById('translated_text');

                    var section_start_pat = "\\n\\n.?[📌>] \\*";

                    for (key in server_says['translated_additions']) {
                        et = eta.value;
                        // console.log("processing key " + key);
                        var pat = section_start_pat + key + ":\\*\\n\\n";
                        var re = new RegExp(pat, "g");
                        var section_start_pos = et.search(re);
                        var next_section_start_pos = -1;
                        var newlines_before = true;
                        if (section_start_pos == -1) {
                            // the section is absent - it was deleted manually, then re-added, or it's "unknown"
                            last_three_dots_pos = et.lastIndexOf(' •   •   •');
                            prev_three_dots_pos = et.lastIndexOf(' •   •   •', last_three_dots_pos);
                            next_section_start_pos = prev_three_dots_pos - 2;
                        } else {
                            // console.log("Found that section starting at index " + section_start_pos + " which looks like this:");
                            // console.log(et.substring(section_start_pos, section_start_pos + 50));
                            next_section_start_pos = search(et, section_start_pat, section_start_pos + 10);
                            newlines_before = (next_section_start_pos != -1);
                            if (next_section_start_pos == -1) {
                                // this happens if the addition is to the last section, which is common
                                // so instead we'll add it immediately after the section header we just found
                                m = et.match(pat, "g")
                                next_section_start_pos = section_start_pos + m[0].length;
                            }
                        }
                        // console.log("The next section starts at index " + next_section_start_pos + " which looks like this:");
                        // console.log(et.substring(next_section_start_pos, next_section_start_pos + 50));
                        added_bullets = server_says['translated_additions'][key];
                        // console.log("There are " + added_bullets.length + " new entries to add there");
                        
                        // add them
                        head = et.substring(0, next_section_start_pos);
                        tail = et.substring(next_section_start_pos);
                        if (newlines_before) {
                            updated_content = head + "\n\n++++++++++++++++++++++++++\n";
                        } else {
                            updated_content = head + "++++++++++++++++++++++++++\n";
                        }

                        for (b=0; b<added_bullets.length; b++) {
                            updated_content = updated_content + added_bullets[b];
                            if (b < added_bullets.length - 1) {
                                updated_content = updated_content + "\n\n";
                            }
                        }
                        updated_content = updated_content + "\n++++++++++++++++++++++++++";
                        eta.value = updated_content + tail;
                    }

                    alert("Update is done, there were " + num_additions + " additions across " + num_section_additions + " sections.");
                } else {
                    alert("Got no changes. You can resume working.");
                }

                document.getElementById("heb_text_area").disabled = false;
                document.getElementById("translated_text").disabled = false;

                setTimeout(function() {
                    document.getElementById("pull_additions_button").disabled = false;
                }, 60000);
            }

            setInterval(function(){saveDraft()}, 10000);  // automatically save a draft every 10 seconds, if the text has changed

            function edit_page_updates(latest_status) {
                if (document.getElementById("swap_hebrew_view").disabled) {
                    if (starting_hebrew_text.localeCompare(latest_status["by_lang"]["--"]["text"]) != 0) {
                        document.getElementById("swap_hebrew_view").disabled = false;
                    }
                }
            }
            setInterval(function(){getLatestStatus(edit_page_updates)}, 20000);

        </script>        
    </head>

    <body>
        <table width="100%" border="0" cellspacing="10">
            <tr>
                <td width="40%" valign="top" id="orig_heb_panel">
                    <textarea id="heb_text_area" rows="40" style="width:100%; font-size:17px; font-family:Calibri, sans-serif;" dir="rtl">{{orig_heb_text}}</textarea>
                    <table width="100%">
                        <tr><br><br>
                            <td align="center"><button id="swap_hebrew_view" style="font-size: 16px; padding:6px 6px" onclick="swap_hebrew_view();" disabled>Show latest</button></td>                            
                            <td align="center"><span id="heb_status_label"></span></td>
                            <!-- button to pull latest changes, active only once per minute, not nec b/c there are changes to pull -->
                            <td align="center"><button id="pull_additions_button" style="font-size: 16px; padding:6px 6px" onclick="pullAdditions();">Get Additions</button></td>
                        </tr>
                    </table>
                </td>
                <td width="58%" valign="top" id="translation_panel">
                    <textarea id="translated_text" rows="50" style="width:100%; font-size:14px;" spellcheck="true"
                    {% if lang == "YY" %}
                    dir="rtl"
                    {% endif %}                    
                    oninput="translation_changed();">{{translated}}</textarea>            
<table width=100%>
    <tr>
        <td width="33%" align="right"><span id="is_saved"></span></td>
        <td width="33%" align="right"><span id="char_count">Length: X chars</span></td>
        <td width="33%"></td>
    </tr>
</table>                    
<table width="100%" border="0">
    <tr>
        <td><button id="restart_button" style="font-size: 20px; padding:8px 8px" onclick="window.location='/'">Go Home</button></td>
        <td align="center"><button id="preview_button" style="font-size: 20px; padding:8px 8px" onclick="showPreview();">Preview</button></td>
        <td>
            <table border="0" width="100%"><tr>
                <td align="center">
                    <button id="edit_anyway_button" style="font-size: 20px; padding:8px 8px;visibility: hidden;" onclick="enable_edit();">Edit Again</button>
                </td>
                <td>
                    <button id="copy_review_link" style="font-size: 20px; padding:8px 8px" onclick="copy_review_link();">Copy Review Link</button>
                </td>
                <td align="right">
                    <button id="finish_button" style="font-size: 20px; padding:8px 8px" onclick="publish();">Publish</button>
                    <button id="copy_clip_button" style="font-size: 20px; padding:8px 8px" onclick="copy_to_clipboard();">Copy to Clipboard</button>
                </td>
            </tr></table>
        </td>
    </tr>
</table>

                </td>
            <td width="1%" valign="top" id="preview_panel">

            </td>
            </tr>
    </table>
<script>
    if (is_finished || in_progress) {
        observe_only();
    }
    update_char_count();
</script>
    </body>
</html>
