<html>
    <head>
        <title>Tamtzit - Editing {{lang}}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <script src="{{url_for('static', filename='tamtzit-common.js', version='20231206b')}}"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7WJQ95B6KX"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7WJQ95B6KX');
        </script>        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            function fix_alignment(text) {
                var lang = "{{lang}}";
                if (lang == "YY") {
                    return "<div dir=\"rtl\">" + text + "</div>";
                } else {
                    return text;
                }
            }

            function showPreview() {
//                document.getElementById("orig_heb_panel").style.width="1%";
                document.getElementById("orig_heb_panel").style.display="none";
                document.getElementById("translation_panel").style.width="48%";
                document.getElementById("preview_panel").style.width="50%";
                document.getElementById("preview_panel").style.display="initial";
                document.getElementById("preview_panel").innerHTML=fix_alignment(makeWhatsappPreview(document.getElementById("translated_text").value));
                document.getElementById("preview_button").textContent="Hide Preview";
                document.getElementById("preview_button").setAttribute("onclick","javascript: hidePreview();");
            }

            function hidePreview() {
//                document.getElementById("preview_panel").style.width="1%";
                document.getElementById("preview_panel").style.display="none";
                document.getElementById("preview_panel").innerHTML="";
                document.getElementById("orig_heb_panel").style.width="40%";
                document.getElementById("orig_heb_panel").style.display="initial";
                document.getElementById("translation_panel").style.width="58%";
                document.getElementById("preview_button").textContent="Preview";
                document.getElementById("preview_button").setAttribute("onclick","javascript: showPreview();");
            }

            function update_char_count() {
                entry_len = document.getElementById("translated_text").value.length;
                document.getElementById("char_count").innerHTML="Length: " + entry_len + " characters";
                if (entry_len > 4000) {
                    document.getElementById("char_count").style.color="#FF0000";
                } else {
                    document.getElementById("char_count").style.color="#000000";
                }
            }

            var last_saved_translation = `{{translated}}`;
            var is_finished = "True" === "{{is_finished}}";
            var in_progress = "True" === "{{in_progress}}";

            function copy_to_clipboard() {
                copyToClipboard('translated_text');
            }

            function translation_changed() {
                update_char_count();
                if (document.getElementById("preview_panel").style.display=="initial") {
                    document.getElementById("preview_panel").innerHTML=makeWhatsappPreview(document.getElementById("translated_text").value);
                }

                if (last_saved_translation.localeCompare(document.getElementById('translated_text').value) != 0) {
                        document.getElementById("is_saved").innerText = "Changes NOT YET Saved!";
                        document.getElementById("is_saved").style.color = "#FF0000";

                        document.getElementById("finish_button").innerText = "Copy to Clipboard";
                        is_finished = false;
                } 
            }

            function saveDraft(finalize=false) {
                if (is_finished && !finalize) {
                    return;
                }
                curr_translation = document.getElementById('translated_text').value;
                if (finalize || last_saved_translation.localeCompare(curr_translation) != 0) {
                
                    $.post("/saveDraft",
                    {
                        draft_key: "{{draft_key}}",
                        translation: curr_translation,
                        is_finished: is_finished            // this is historical - originally could change by button press, no longer.
                    },
                    function(data,status) {
                        console.log("Draft save status: " + status);
                        last_saved_translation = curr_translation;
                        if (status === "success") {
                            document.getElementById("is_saved").innerText = "All Changes Saved";
                            document.getElementById("is_saved").style.color = "#33AA33";
                        }
                    });
                }
            }

            function enable_edit() {
                document.getElementById("translated_text").disabled = false;
                document.getElementById("edit_anyway_button").style.visibility = "hidden";
                document.getElementById("finish_button").disabled = false;
                document.getElementById("heb_text_area").disabled = false;
                document.getElementById("pull_additions_button").disabled = false;
            }

            function observe_only() {
                document.getElementById("heb_text_area").disabled = true;
                document.getElementById("translated_text").disabled = true;
                document.getElementById("edit_anyway_button").style.visibility = "visible";
                document.getElementById("pull_additions_button").disabled = true;
            }

            function search(string, regexp, from = 0) {
                const index = string.slice(from).search(regexp);
                return index === -1 ? -1 : index + from;
            }

            async function pullAdditions() {
                if (!confirm("*IF* there have been additions to the Hebrew text " +
                "they will be added to the Hebrew and Translation here.\n\n" +
                "Only *newly added entries* will be copied, no other changes. They will be marked in the Hebrew with\n\n" +
                "                    ++++++++++.\n\n")) {
                    return;
                }
                alert("Please wait, this update takes about 10 seconds. It can only be requested once per minute.");
                document.getElementById("pull_additions_button").disabled = true;
                document.getElementById("heb_text_area").disabled = true;
                document.getElementById("translated_text").disabled = true;

                // do the update...
                var server_says = await (await fetch("/getUntranslatedAdditions?heb_draft_id={{heb_draft_id}}&lang={{lang}}")).json();
                if ('additions' in server_says) {
                    var num_section_additions = 0;
                    var num_additions = 0;
                    hta = document.getElementById('heb_text_area');
                    // this pattern is unexpected, had to be refined because:
                    // 1. the text is one long block, we're not actually looking for these things at the "start of the line" as there are no lines
                    // 2. the emphasis marks may or may not be there in the Hebrew, depending on where it came from, it may have been pasted without those
                    var section_start_pat = "\\n\\n.?[📌>] \\*?_?";

                    for (key in server_says['additions']) {
                        ht = hta.value;
                        // console.log("processing key " + key);
                        var pat = section_start_pat + key + ":";
                        var re = new RegExp(pat, "g");
                        var section_start_pos = ht.search(re);
                        // console.log("Found that section starting at index " + section_start_pos + " which looks like this:");
                        // console.log(ht.substring(section_start_pos, section_start_pos + 50));
                        var next_section_start_pos = search(ht, section_start_pat, section_start_pos + 10);
                        // console.log("The next section starts at index " + next_section_start_pos + " which looks like this:");
                        // console.log(ht.substring(next_section_start_pos, next_section_start_pos + 50));
                        num_section_additions += 1;
                        added_bullets = server_says['additions'][key];
                        // console.log("There are " + added_bullets.length + " new entries to add there");
                        
                        // add them
                        head = ht.substring(0, next_section_start_pos);
                        tail = ht.substring(next_section_start_pos);
                        updated_content = head + "\n\n++++++++++++++++++++++++++\n";
                        for (b=0; b<added_bullets.length; b++) {
                            updated_content = updated_content + added_bullets[b];
                            if (b < added_bullets.length - 1) {
                                updated_content = updated_content + "\n\n";
                            }
                            num_additions += 1;
                        }
                        updated_content = updated_content + "\n++++++++++++++++++++++++++";
                        hta.value = updated_content + tail;
                    }

                    eta = document.getElementById('translated_text');

                    var section_start_pat = "\\n\\n.?[📌>] \\*";

                    for (key in server_says['translated_additions']) {
                        et = eta.value;
                        // console.log("processing key " + key);
                        var pat = section_start_pat + key + ":";
                        var re = new RegExp(pat, "g");
                        var section_start_pos = et.search(re);
                        // console.log("Found that section starting at index " + section_start_pos + " which looks like this:");
                        // console.log(et.substring(section_start_pos, section_start_pos + 50));
                        var next_section_start_pos = search(et, section_start_pat, section_start_pos + 10);
                        // console.log("The next section starts at index " + next_section_start_pos + " which looks like this:");
                        // console.log(et.substring(next_section_start_pos, next_section_start_pos + 50));
                        added_bullets = server_says['translated_additions'][key];
                        // console.log("There are " + added_bullets.length + " new entries to add there");
                        
                        // add them
                        head = et.substring(0, next_section_start_pos);
                        tail = et.substring(next_section_start_pos);
                        updated_content = head + "\n\n++++++++++++++++++++++++++\n";
                        for (b=0; b<added_bullets.length; b++) {
                            updated_content = updated_content + added_bullets[b];
                            if (b < added_bullets.length - 1) {
                                updated_content = updated_content + "\n\n";
                            }
                        }
                        updated_content = updated_content + "\n++++++++++++++++++++++++++";
                        eta.value = updated_content + tail;
                    }

                    alert("Update is done, there were " + num_additions + " additions across " + num_section_additions + " sections.");
                } else {
                    alert("Got no changes. You can resume working.");
                }

                document.getElementById("heb_text_area").disabled = false;
                document.getElementById("translated_text").disabled = false;

                setTimeout(function() {
                    document.getElementById("pull_additions_button").disabled = false;
                }, 60000);
            }

            setInterval(function(){saveDraft()}, 10000);  // automatically save a draft every 30 seconds, if the text has changed

        </script>        
    </head>

    <body>
        <table width="100%" border="0" cellspacing="10">
            <tr>
                <td width="40%" valign="top" id="orig_heb_panel">
                    <textarea id="heb_text_area" rows="40" style="width:100%; font-size:17px;" dir="rtl">{{heb_text}}</textarea>
                    <table width="100%">
                        <tr><br><br>
                            <!-- button to pull latest changes, active only once per minute, not nec b/c there are changes to pull -->
                            <td align="center"><button id="pull_additions_button" style="font-size: 16px; padding:6px 6px" onclick="pullAdditions();">Get Additions</button></td>
                        </tr>
                    </table>
                </td>
                <td width="58%" valign="top" id="translation_panel">
                    <textarea id="translated_text" rows="50" style="width:100%; font-size:14px;" spellcheck="true"
                    {% if lang == "YY" %}
                    dir="rtl"
                    {% endif %}                    
                    oninput="translation_changed();">{{translated}}</textarea>            
<table width=100%>
    <tr>
        <td width="33%" align="right"><span id="is_saved"></span></td>
        <td width="33%" align="right"><span id="char_count">Length: X chars</span></td>
        <td width="33%"></td>
    </tr>
</table>                    
<table width="100%" border="0">
    <tr>
        <td><button id="restart_button" style="font-size: 20px; padding:8px 8px" onclick="window.location='/'">Go Home</button></td>
        <td align="center"><button id="preview_button" style="font-size: 20px; padding:8px 8px" onclick="showPreview();">Preview</button></td>
        <td>
            <table border="0" width="100%"><tr>
                <td align="center">
                    <button id="edit_anyway_button" style="font-size: 20px; padding:8px 8px;visibility: hidden;" onclick="enable_edit();">Edit Again</button>
                </td>
                <td align="right">
                    <button id="finish_button" style="font-size: 20px; padding:8px 8px" onclick="copy_to_clipboard();">Copy to Clipboard</button>
                </td>
            </tr></table>
        </td>
    </tr>
</table>

                </td>
            <td width="1%" valign="top" id="preview_panel">

            </td>
            </tr>
    </table>
<script>
    if (is_finished) {
        document.getElementById("translated_text").disabled = true;
        document.getElementById("edit_anyway_button").style.visibility = "visible";
    }

    if (in_progress) {
        observe_only();
    }
    update_char_count();
</script>
    </body>
</html>
