📻 *Israel News Highlights*
*{{date_info.part_of_day}} Edition, {{date_info.day_of_week}}, {{date_info.hebrew_dom}} {{date_info.hebrew_month}}, {{date_info.hebrew_year}}, {{date_info.secular_month}} {{date_info.secular_dom}}*
                    
  •   •   •
                    
📌 *Swords of Iron - Day {{date_info.day_of_war}}*
{% for section in sections %}
{% if section in organized and organized[section] | length > 0 %}
{% if section in ['SOUTH','NORTH','YandS']%}>{%else%}📌{%endif%} *{{sections[section]}}:*
{% for line in organized[section] %}
{{line}}
{% endfor %}{% endif %}
{% endfor %}

 •   •   •

 Author:   Translator:  

 •   •   •

Support the homefront and contribute to help expand the News Highlights initiatives:
https://www.charidy.com/lokchim 

 •   •   •

That’s all for Israel News Highlights this {{date_info.part_of_day | lower}}.
From *Lokhim Ahrayut*
To join the news group: 👇
https://link.mmb.org.il/INH_NEWS 