<html>
    <head>
        <title>Tamtzit - Error Page</title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7WJQ95B6KX"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7WJQ95B6KX');
        </script>        

    </head>    
    <body>
        <center>
            <BR><BR>
            <h3>{{msg}}</h3>
            <BR><BR>
            <h3 dir="rtl">{{heb_msg}}</h3>                
            <br><br>
            {% if not dont_show_home_link %}
            <a href="/">Back to the start</a>
            {% endif %}
        </center>
    </body>
</html>