📻 *L'essentiel de l'actualité de Israel*
*Édition du {{date_info.part_of_day}}: {{date_info.day_of_week}}, {{date_info.hebrew_dom}} {{date_info.hebrew_month}}, {{date_info.hebrew_year}} / {{date_info.secular_dom}} {{date_info.secular_month}} {{date_info.secular_year}}*

  •   •   •

📌 *Guerre des Épées de Fer*
{% for section in sections %}
{% if section in organized and organized[section] | length > 0 %}
{% if section in ['SOUTH','NORTH','YandS']%}>{%else%}📌{%endif%} *{{sections[section]}}:*
{% for line in organized[section] %}
{{line}}
{% endfor %}{% endif %}
{% endfor %}

 •   •   •

Auteur:   Traducteur:

 •   •   •

Pour les dons et le renforcement du projet d'extrait d'actualité:
https://www.charidy.com/lokchim 

 •   •   •

Voilà pour l'essentiel de l'actualité
De l'organisation « Lokhim Ahrayut » - changer la réalité en ligne 

Pour rejoindre les nouveaux groupes d'extraits: 👇
https://link.mmb.org.il/INH_NEWS 