{% if date_info.motzei_shabbat_early %}*Mise à jour résumée du samedi soir.*

Chers lecteurs, 
Ceci est une mise à jour résumée de l'actualité. L'édition régulière sera publiée après 21h30.

•   •   •
{% else %}📻 *L'essentiel de l'actualité*
*Édition {% if date_info.part_of_day in ('Matin','soir') %}du{% else %}de{% endif %} {{date_info.part_of_day}}: {{date_info.day_of_week}} {{date_info.hebrew_dom}} {{date_info.hebrew_month}} {{date_info.hebrew_year}}* / {{date_info.secular_dom}} {{date_info.secular_month}} {{date_info.secular_year}}

  •   •   •

📌 *Guerre des Épées de Fer*
{%endif%}
{% for section in sections %}
{% if section in organized and organized[section] | length > 0 %}
{% if section in ['SOUTH','NORTH','YandS']%}>{%else%}📌{%endif%} *{{sections[section]}}:*
{% for line in organized[section] %}
{{line}}
{% endfor %}{% endif %}
{% endfor %}

 •   •   •

Rédaction: {{heb_author_in_en}}
Traduction: {{translator_in_en}}
{% if 1==0 %}
 •   •   •

Pour les dons et le renforcement du projet d'extrait d'actualité:
https://www.charidy.com/lokchim 

 •   •   •

Voilà pour *l'essentiel de l'actualité d’Israël*
De l'organisation *«Lokhim Ahrayut - Prendre ses responsabilités»*
Changer la réalité en ligne

Pour rejoindre le groupe News Israel L'essentiel: 👇
https://link.mmb.org.il/news_f {%endif%}