<html>
    <head>
        <title>Tamtzit - Hebrew Editing (mobile)</title>
        <script src="{{url_for('static', filename='tamtzit-common.js', version='20240522')}}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <script>
            const TEXT_BEING_EDITED = "heb_text";
            const LENGTH_LABEL = "אורך:";
            const CHARACTERS_LABEL = "אותיות";

            var user_role = "{{user_role}}"; // required for the status box

            function showPrev() {
                document.getElementById("orig_heb_panel").style.display="none";
                document.getElementById("preview_panel").style.display="initial";
                document.getElementById("preview_text").innerHTML=makeWhatsappPreview(document.getElementById("heb_text").value);
                document.getElementById("prev_button").style.display="none";
                document.getElementById("edit_button").style.display="initial";
            }

            function showEdit() {
                document.getElementById("preview_panel").style.display="none";
                document.getElementById("orig_heb_panel").style.display="initial";
                document.getElementById("prev_button").style.display="initial";
                document.getElementById("edit_button").style.display="none";
            }

            var last_saved_text = `{{heb_text}}`;
            var is_finished = "True" === "{{is_finished}}";
            var ok_to_translate = "True" === "{{ok_to_translate}}";

            function done() {
                disable_done_button();
                is_finished = true;
                saveDraft(force=true);
            }

            function disable_done_button() {
                document.getElementById("done_button").style.backgroundColor="#66BB66";
                document.getElementById("done_button").disabled = true;
                document.getElementById("heb_text").disabled = true;
//                document.getElementById("back_home").style.display = "initial";
                document.getElementById("edit_anyway_button").style.visibility = "visible";
            }

            function disable_send_to_translators() {
                document.getElementById("to_translation_button").style.backgroundColor="#66BB66";
                document.getElementById("to_translation_button").disabled = true;
             //   document.getElementById("done_button").disabled = false;    // why is this here? Commenting this out 2024-05-16
            }

            function observe_only() {
                document.getElementById("to_translation_button").disabled = true;
                document.getElementById("done_button").disabled = true;
                document.getElementById("heb_text").disabled = true;
//                document.getElementById("back_home").style.display = "initial";
                document.getElementById("edit_anyway_button").style.visibility = "visible";
            }

            function enable_edit() {
                document.getElementById("heb_text").disabled = false;
                document.getElementById("edit_anyway_button").style.visibility = "hidden";
                if (ok_to_translate) {
                    if (user_role.includes("editor") || user_role.includes("admin")) {
                        document.getElementById("done_button").style.backgroundColor="#DDDDDD";
                        document.getElementById("done_button").disabled = false;
                    }
                } else {
                    document.getElementById("to_translation_button").disabled = false;
                    document.getElementById("to_translation_button").style.backgroundColor="#DDDDDD";
                }
//                document.getElementById("back_home").style.display = "none";
            }

            function to_translators() {
                disable_send_to_translators();
                observe_only();
                ok_to_translate = true;
                saveDraft(force=true);
                
                if (("{{date_info.part_of_day}}" == "ערב") && ("{{req_rule}}".indexOf("daily_summary") == -1)) {
                    document.location = "/start_daily_summary";
                } else {
                    document.location = "/";
                }
            }

            function translation_changed() {
                if (last_saved_text.localeCompare(document.getElementById('heb_text').value) != 0) {
                        document.getElementById("is_saved").innerText = "השינויים עוד לא שמורים!";
                        document.getElementById("is_saved").style.color = "#FF0000";
                        document.getElementById("finish_button").innerText = "העתק את כל התוכן";
                        is_finished = false;
                } 
            }

            function saveDraft(force=false) {
                if (is_finished && !force) {
                    return;
                }
                curr_text = document.getElementById('heb_text').value;
                if (force || last_saved_text.localeCompare(curr_text) != 0) {
                    console.log("saving, text was\n\n"+last_saved_text+"\n\ntext is now\n\n" + curr_text);
                    $.post("/saveDraft",
                    {
                        draft_key: "{{draft_key}}",
                        source_text: curr_text,
                        is_finished: is_finished,
                        to_translators: ok_to_translate
                    },
                    function(data,status) {
                        console.log("Draft save status: " + status);
                        last_saved_text = curr_text;
                        if (status === "success") {
                            document.getElementById("is_saved").innerText = "כל השינויים שמורים";
                            document.getElementById("is_saved").style.color = "#33AA33";
                        }
                    });
                }
            }

            setInterval(function(){saveDraft()}, 10000);  // automatically save a draft every 30 seconds, if the text has changed


        </script>
    </head>
    <body>
        
        <div id="preview_panel" style="display: none;  width:98vw;">
            <table style="width:98vw" border="1">
                <tbody style="display: block; height: 76vh; overflow-y: scroll">
                    <tr>
                        <td id="preview_text" dir="rtl" style="font-size:2vw; "></td>
                    </tr>
    
                </tbody>
            </table>
        </div>


        <div id="orig_heb_panel" style="font-family: Arial, Helvetica, sans-serif; font-size:calc(.8em + 0.5vmin)">
     <textarea id="heb_text" style="font-family: inherit; font-size: inherit; width:98vw; height:76vh;" name="orig_text" dir="rtl" 
     oninput="update_char_count();translation_changed();" >{%if heb_text | length > 0 %}{{ heb_text }}{% else %}{% 
        if date_info.motzei_shabbat_early %}*עדכון מוצאי שבת*
    
קוראים יקרים, זהו עדכון מקוצר. מהדורה רגילה תישלח אחרי 21:00.

•   •   •
{% else %}{% if date_info.erev_shabbat %}{% if date_info.motzei_shabbat_early %}
*קוראים יקרים,*
*המהדורה הבאה תישלח כשעה לאחר צאת השבת.*

•   •   •

{% else %}
*קוראים יקרים,*
*המהדורה הבאה תישלח במוצאי שבת, בשעה הרגילה של מהדורת הערב.*

•   •   •

{% endif %}{% endif %}📻 *תמצית החדשות*
*{% if heb_text_body_only | length > 0 %}מהדורה יומית{% else %}מהדורת {{date_info.part_of_day}}{%endif%}, {{date_info.day_of_week}}, {{date_info.hebrew_dom_he}} ב{{date_info.hebrew_month_he}} {{date_info.hebrew_year_he}}*, {{date_info.secular_dom}} ב{{date_info.secular_month}} {{date_info.secular_year}}

•   •   •

📌 *_מלחמת חרבות ברזל:_*
{%endif%}
{% if heb_text_body_only | length > 0 %}{{ heb_text_body_only }}{% else %}> *החזית הדרומית:*
- 

- 

> *החזית הצפונית:*
- 

- 

> *חזית איו"ש:*
- 

- 

📌 *_ביטחון:_*
• 

• 

📌 *_מהמתרחש בארץ:_*
• 

• 

📌 *_מדיניות, משפט ופוליטיקה:_*
• 

• 

📌 *_מסביב לעולם:_*
• 

📌 *_כלכלה:_*
• 

📌 *_ספורט:_*
• 

📌 *_מזג האוויר:_*
• 

📌 *_ונסיים בטוב:_*
• 

{% endif %}•   •   •

כתיבה: {{author_user_name}}. עריכה לשונית: שירה עבאדי.

•   •   •

✓ *להצטרפות לתמצית החדשות:*
     https://link.mmb.org.il/news

✓ *בדף הפייסבוק שלנו כבר ביקרת?*
     https://link.mmb.org.il/news_facebook
 
✓ *לפניות למוקד הוואטסאפ שלנו:*
     052-439-3118 {% endif %}</textarea>
</div>

<br><br>
<table width=100% border="0">
    <tr>
        <td width="33%" align="right"><span id="is_saved" dir="rtl"></span></td>
        <td width="33%" align="right"><span id="char_count" style="font-size: 34px; padding:8px 8px" dir="rtl">אורך: X אותיות</span></td>
        <td width="33%"></td>
    </tr>
</table>
<table width="100%" border="0">
    <tr>
        <td align="center">
            <button id="prev_button" style="font-size: 45px; padding:8px 8px" onclick="showPrev();">תצוגה</button>
            <button id="edit_button" style="font-size: 45px; padding:8px 8px; display: none;" onclick="showEdit();">עריכה</button>
        </td>
    </tr>
</table>
<table width="100%" border="0">
    <tr>
        <td width="50%" align="left" valign="top">
            <button id="edit_anyway_button" style="font-size: 35px; padding:3px 3px;visibility: hidden;" onclick="enable_edit();">ערוך שוב</button>&nbsp;&nbsp;&nbsp;
            <button id="back_home" style="font-size: 45px; padding:8px 8px;" onclick="window.location='/';">חזרה להתחלה</button>&nbsp;&nbsp;
            <button id="done_button" style="font-size: 45px; padding:8px 8px;" disabled="true" onclick="done();">מוכן לשליחה</button>            
            </td>
        <td width="50%" align="right" valign="top">
            <button id="to_translation_button" style="font-size: 45px; padding:8px 8px;" onclick="to_translators();">מוכן לעריכה</button>  
            <br>
        </td>
    </tr>
</table>


{% if ok_to_translate %}
    <script>
        disable_send_to_translators();
    </script>
{% endif %}
{% if is_finished %}
    <script>
        disable_done_button();
        document.getElementById("edit_anyway_button").style.visibility = "visible";
    </script>
{% endif %}
{% if in_progress %}
<script>
    observe_only();
</script>
{% endif %}
    <script>
        update_char_count();
        document.getElementById('orig_heb_panel').style.fontSize = "{{heb_font_size}}";
        document.getElementById('preview_text').style.fontSize = "{{heb_font_size}}";

        // if (screen.availWidth > 390) {
        //     document.getElementById('orig_heb_panel').style.fontSize = "calc(1em + 2.5vmin)";
        //     document.getElementById('preview_text').style.fontSize = "4vw";
        // }
        // var dpr = window.devicePixelRatio;
        // var prev_font = 2;
        // var heb_font = 
        // while (dpr < 2.8125) {
        //     prev_font = prev_font + 0.1875;
        // }
    </script>
            <script>
            </script>
</body>
</html>