<html>
    <head>
        <title>Tamtzit - Admin Portal</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <script src="{{url_for('static', filename='tamtzit-common.js', version='20240621b')}}"></script>
        <script>
            var user_role = "{{user_role}}"; // required for the status box
            const today = new Date();

            function fill_in_data() {
                var next_translators = JSON.parse(`{{next_translators}}`);
                var en_translator_div = document.getElementById("next-translator-en");
                en_translator_div.innerText = next_translators["English"]["translator"];
                if (today.getDay() > 4 && user_role.indexOf("admin") >= 0) {
                    var tx_sign_up_status_div = document.getElementById("translators_registered_for_next_week");
                    tx_sign_up_status_div.innerHTML = "<br><a href='/team_avail_next_week'>זמינות הצוות לשבוע הבא</a><br>";
                }
            }
        </script>
    </head>
    <body onload="fill_in_data();">
        <center><br><br>
       <h1>ניהול תמצית החדשות</h1>
       
<table width="80%" border="0">
    <tr>
        <td width="25%" valign="top" align="center" style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif;">
            <a href="start_translation">לתרגם</a>
            <br><br><br>
            <table border="1" cellpadding="10px">
                <tr><td align="center" style="font-size: 16px; font-family: sans-serif; font-weight: bold;" dir="rtl">לוח משימות</td></tr>
                <tr><td align="center" style="font-size: 16px; font-family: sans-serif; font-weight: bold;" dir="rtl">
                    מתרגמ\ת הבא\ה:
                    <table border="0" width="100%">
                        <tr>
                            <td style="font-size: 16px; font-family: sans-serif; font-weight: bold;" dir="rtl">אנגלית: </td>
                            <td id="next-translator-en"></td>
                        </tr>
                    </table>
                    <br>
                    <a href="/tx_schedule_curr">לו"ז לשבוע זה</a>
                    {% if "translator" in user_role %}
                    <br><br>
                        <a href="/tx_schedule_signup">הזמינות שלי</a>
                    {% endif %}
                    <div id="translators_registered_for_next_week"></div>
                </td>
                </tr>
            </table>
        </td>
        <Td align="center">
            <br><br><br><br>
            <table cellpadding="20" border="2">
                <tr><td id="translation_status" style="font-size: 18px;  font-family: Arial, Helvetica, sans-serif;" dir="rtl">
                </td></tr>
            </table>
            <br><br><br><br>
            <table width="80%" border="0">
                <tr>
                    <td colspan="3" align="center" style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif;">
                        <a target="_blank" href="https://storage.googleapis.com/tamtzit-archive/archive-he.html">הארכיון של תמצית החדשות</a>
                    </td>
                </tr>
                <tr >
                    <td colspan="3" align="center" style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif; padding-top:20px">
                        <a target="_blank" href="https://tamtzit-reader.oa.r.appspot.com/">תמצית החדשות במגוון שפות</a>
                    </td>
                </tr>
            </table>
            <br><br>
            <a href="admin">פעולות למנהלים בלבד</a>            
        </Td>
        <Td width="25%" valign="top" align="center" style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif;">
            <a href="heb">ליצור מהדורה חדשה<br>או לערוך את הנוכחית</a>
            {% if daily_summary_in_progress %}<br><br><br><a href="/heb_edit_daily_summary">לערוך את הסיכום היומי</a>{% endif %}
        </Td>
    </tr>
</table>
        </center>
    </body>
<script>
    updateStatus();  // this will also start a periodic auto-refresh
    // window.onfocus = function() {
    //     alert("onfocus got called");
    //     focused = true;
    //     updateStatus();
    // };
</script>
</html>