<html>
    <head>
        <title>Tamtzit - Admin Portal</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <script src="{{url_for('static', filename='tamtzit-common.js', version='20240520b')}}"></script>
        <script>
            var user_role = "{{user_role}}"; // required for the status box
        </script>
    </head>
    <body>
        <center><br><br>
       <h1>ניהול תמצית החדשות</h1>
       <br>
<table width="80%" border="0">
    <tr>
        <td width="50%" align="center" style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif;"><a href="start_translation">לתרגם</a></td>
        <Td> </Td>
        <Td width="50%" align="center" style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif;"><a href="heb">ליצור מהדורה חדשה<br>או לערוך את הנוכחית</a></Td>
    </tr>
</table>
<br><br><br>
<table cellpadding="20" border="2">
    <tr><td id="translation_status" style="font-size: 18px;  font-family: Arial, Helvetica, sans-serif;" dir="rtl">

    </td></tr>
</table>
<br><br>
<table width="80%" border="0">
    <tr>
        <td colspan="3" align="center" style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif;"><a target="_blank" href="https://storage.googleapis.com/tamtzit-archive/archive-he.html">הארכיון של תמצית החדשות</a></td>
    </tr>
    <tr >
        <td colspan="3" align="center" style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif; padding-top:20px"><a target="_blank" href="https://tamtzit-reader.oa.r.appspot.com/">תמצית החדשות במגוון שפות</a></td>
    </tr>
</table>
<br><br>
<a href="admin">פעולות למנהלים בלבד</a>
        </center>
    </body>
<script>
    updateStatus();  // this will also start a periodic auto-refresh
    // window.onfocus = function() {
    //     alert("onfocus got called");
    //     focused = true;
    //     updateStatus();
    // };
</script>
</html>