<html>
    <head>
        <title>Tamtzit - Admin Portal (Mobile)</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <script src="{{url_for('static', filename='tamtzit-common.js', version='20240520b')}}"></script>
        <script>
            var user_role = "{{user_role}}"; // required for the status box
        </script>
        <style>
            #settings-icon {position: fixed; bottom: 4px; right: 4px;}
        </style>   
    </head>
    <body>
        <center><br><br><br><br>
       <div style="font-size: 55px;  font-family: Arial, Helvetica, sans-serif;">ניהול תמצית החדשות</div>
       <br><br><br><br>
<table width="80%" border="0">
    <tr>
        <td width="35%" align="center" style="font-size: 45px;  font-family: Arial, Helvetica, sans-serif;"><a href="start_translation">לתרגם</a></td>
        <Td> </Td>
        <Td width="65%" align="center" style="font-size: 45px;  font-family: Arial, Helvetica, sans-serif;"><a href="heb">ליצור מהדורה חדשה<br>או לערוך את הנוכחית</a></Td>
    </tr>
    <tr>
        <td colspan="3" align="center" style="font-size: 45px;  font-family: Arial, Helvetica, sans-serif;"><br><br><br><a href="https://tamtzit-reader.oa.r.appspot.com/">תמצית החדשות במגוון שפות</a></td>
    </tr>
</table>
<br><br><br><br><br>
<table cellpadding="20" border="2">
    <tr><td id="translation_status" style="font-size: 40px;  font-family: Arial, Helvetica, sans-serif;" dir="rtl">

    </td></tr>
</table>

        </center>
        <div id="settings-icon">
            <a href="/debug"><img src="{{ url_for('static', filename='gears.jpg') }}" width="140px"></a>
        </div>                
    </body>
    <script>    
        updateStatus();  // this will also start a periodic auto-refresh
        // window.onfocus = function() {
        //     focused = true;
        //     updateStatus();
        // };
    </script>    
</html>