<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    </head>    
    <body>
        <div style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif;">
        
        Enter the original Hebrew post below.<br>
        The header and footer are <b>not necessary</b>, they will be ignored and replaced.            
        </div>
    <br><br>

    <form method="POST" action="/translate">
        <textarea name="orig_text" rows="25" cols="45" dir="rtl" style="font-size: 32px;"></textarea>

        <table border="0" width="100%">
            <tr>
                <td width="75%" align="center"><span style="font-size: 45px;">Translate to:</span> 
                    <select name="target-lang" style="font-size: 50px; padding:8px 8px"><option value="en">English</option><option value="fr">Francais</option></select></td>
                <td align="right">
                    <input type="submit" style="font-size: 50px; padding:8px 8px">
                </td>
            </tr>
        </table>
    </form>        

    <br>
    <div style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif;">
    Alternatively, select a draft:
    <br><br>
    {% for draft in drafts %}                                
            <a href="/draft?ts={{ draft['timestamp'].strftime('%Y%m%d-%H%M%S') }}">{{ local_timestamps[draft['timestamp']].strftime('%Y.%m.%d-%H:%M:%S') }}</a> 
                ({{supported_langs[draft['translation_lang']]}})
            <br><br>
    {% endfor %}
    </div>
    </body>
</html>