<html>
    <head>
        <title>Tamtzit - Translation Creation</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7WJQ95B6KX"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7WJQ95B6KX');
        </script>        
    </head>    
    <body>
        <form method="POST" action="/translate">
            <input type="hidden" name="heb_draft_id" value="{{draft_id}}">
            <input type="hidden" name="heb_author_id" value="{{creator_id}}">
            <table border="0">
                <tr>
                    <td>
                        Enter the original Hebrew post below.<br>
                        The header and footer are <b>not necessary</b>, they will be ignored and replaced.            
                    </td>
                    <td width="10"> </td>
                    <td>Alternatively, if a draft is available,<br>
                        You can select it below. </td>
                </tr>
                <tr>
                    <td>
                        <textarea name="orig_text" rows="50" cols="80" dir="rtl">{{heb_text}}</textarea>
                    </td>
                    <td width="10"> </td>
                    <td valign="top">
                        <br>
                        {% for draft in drafts %}
                           {% if draft['translation_lang'] != '--' %}                                
                             <a href="/draft?ts={{ draft['timestamp'].strftime('%Y%m%d-%H%M%S') }}">{{ local_timestamps[draft['timestamp']].strftime('%Y.%m.%d-%H:%M:%S') }}</a> 
                                    ({{supported_langs[draft['translation_lang']]}})
                             <br><br>
                           {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" width="100%">
                            <tr>
                                <td width="75%" align="center"><spanstyle="font-size: 14px;">Translate to:</span> <select name="target-lang" style="font-size: 16px; padding:8px 8px"><option value="en">English</option><option value="fr">Francais</option></select></td>
                                <td align="right">
                                    <input type="submit" style="font-size: 20px; padding:8px 8px">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="10"> </td>
                    <td> </td>
                </tr>
            </table>
        </form>        
    </body>
</html>