<html>
    <head>
        <title>Tamtzit - Translation Creation (Mobile)</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <script src="{{url_for('static', filename='tamtzit-common.js', version='20240516c')}}"></script>
    </head>    
    <body>

    <form method="POST" action="/translate" onsubmit="document.getElementById('submit-button').disabled = true; return true;">
        <input type="hidden" name="heb_draft_id" value="{{draft_id}}">
        <input type="hidden" name="heb_author_id" value="{{creator_id}}">

        <textarea name="orig_text" id="orig_text" rows="25" cols="45" dir="rtl" style="font-size: 32px;">{{heb_text}}</textarea>

        <table border="0" width="100%">
            <tr>
                <td width="67%" align="center"><span style="font-size: 45px;">Translate to:</span> 
                    <select name="target_lang" style="font-size: 50px; padding:8px 8px"
                    onchange="document.getElementById('submit-button').disabled = false;">
                        <option value="en">English</option>
                        <option value="fr">Francais</option>
                        <option value="YY">נוער</option>
                    </select>
                    <span style="font-size: 14px;">using:</span>
                    <select name="tx_engine" style="font-size: 16px; padding:8px 8px"
                    onchange="translation_engine_changed(this.value);">
                        <option value="OpenAI">OpenAI</option>
                        <option value="Google">Google</option>
                    </select>                    
                </td>
                <td width="15%" align="center" id="heb_status_label">...</td>
                <td width="18%" align="right">
                    <input type="submit" id="submit-button" style="font-size: 50px; padding:8px 8px">
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="font-size: 14px;" id="openai-custom-dirs-label" hidden>Custom directions:</span>
                    <br>
                    <textarea name="openai-custom-dirs" id="openai-custom-dirs" rows="5" cols="60" hidden></textarea>
                </td>
            </tr>
        </table>
    </form>        

    <br>
    <div style="font-size: 25px;  font-family: Arial, Helvetica, sans-serif;">
    Alternatively, select a draft:
    <br><br>
    {% for draft in drafts %}       
        {% if draft['translation_lang'] not in ['--', 'H1'] %}         
        <b>{{ local_timestamps[draft['timestamp']][0].strftime('%Y.%m.%d') }}:</b> 
        <a href="/draft?ts={{ draft['timestamp'].strftime('%Y%m%d-%H%M%S') }}">
           {{ local_timestamps[draft['timestamp']][0].strftime('%H:%M') }}
            - {{ local_timestamps[draft['timestamp']][1].strftime('%H:%M') }}</a> 
               ({{draft['translation_engine']}} {{supported_langs[draft['translation_lang']]}}, by {{draft['states'][0]['by']}})
            <br><br>
        {% endif %}            
    {% endfor %}
    </div>
    <script>
        function translation_engine_changed(selected_value) { 
            document.getElementById('submit-button').disabled = false;
            document.getElementById('openai-custom-dirs').hidden=(selected_value != "OpenAI");
            document.getElementById('openai-custom-dirs-label').hidden=(selected_value != "OpenAI");
        }

        function input_page_updates(latest_status) {
            states = latest_status["by_lang"]["--"]["states"];
            // if relevant, update the color of the submit button
            submit_button = document.getElementById("submit-button");
            if (submit_button) {
                color = "#000000";
                if (states[states.length - 1]["state"] == "WRITING") {
                    color = "#FF0000"; 
                } else if (states[states.length - 1]["state"] == "EDIT_READY") {
                    color = "#ff6600";
                } else if (states[states.length - 1]["state"] == "EDIT_ONGOING") {
                    color = "#ffAA22";
                } else if (states[states.length - 1]["state"] == "EDIT_NEAR_DONE") {
                    color = "#ffffb3";            
                } else if (states[states.length - 1]["state"] == "PUBLISHED") {
                    color = "#00cc66";
                } else {  // publish_ready and anything unexpected
                    color = "#f0f0f0";
                }
                submit_button.style.backgroundColor=color;

                hebrew_text = document.getElementById("orig_text");
                if (hebrew_text) {
                    hebrew_text.value = latest_status["by_lang"]["--"]["text"];
                }
            }
        }
        getLatestStatus(input_page_updates);
        setInterval(function(){getLatestStatus(input_page_updates)}, 20000);
    </script>
  </body>
</html>