<html>
    <head>

    </head>
    <body>
        <center><h1>Sign In</h1>
        
        <form action="/auth" method="post">
            <table border="0" cellspacing="10px">
                <tr>
                    <td>Enter your email address:</td>
                    <td><input name="email"></td>
                    <td dir="rtl">הכנס כתובת מייל:</td>
                </tr>
                <tr>
                    <td colspan="3" align="center">
                        <input type="submit">
                    </td>
                </tr>
            </table>
        </form>
    </center>
    </body>
</html>
