<html>
    <head>
        <style>
            .edition_selected {
                height: 100px;
                border: 1px solid #A9A9A9;
                background-color: #55CC55;
            }
            .edition_deselected {
                height: 100px;
                border: 1px solid #A9A9A9;
                background-color: #FFFFFF;
            }
            .edition_disabled {
                height: 100px;
                border: 1px solid #A9A9A9;
                background-color: #A9A9A9;
            }
        </style>
        <script>
            var editions_to_skip = JSON.parse(`{{editions_to_skip}}`);
            var schedule_data = JSON.parse(`{{schedule_data}}`);

            day_parts = ['Morning', 'Afternoon', 'Evening'];
            person_colors = {"Anne": "#76a5af", "Ayelet": "#ead1dc", "Gabriela":"#b4a7d6", "Karen":"#db8776",
                            "Malke":"#f9cb9c", "Moshe": "#d9ead3", "Rebecca":"#a4c2f4", "Rochel":"#cfe2f3", 
                            "Judy":"#ffcc66", "Shoshana": "#6600ff"}

            function update_table_with_schedule() {
                for (day_name in schedule_data) {
                    for (day_part_num in day_parts) {
                        day_part = day_parts[day_part_num];
                        to_skip = editions_to_skip[day_name][day_part_num];
                        that_td = document.getElementById(day_name + "." + day_part);
                        if (to_skip == 1) {
                            that_td.className = "edition_disabled";
                            that_td.innerHTML = "";
                        } else {
                            tx_td = document.getElementById(day_name + "." + day_part + ".translator");
                            tx_td.innerText = schedule_data[day_name][day_part]["translator"];
                            if (schedule_data[day_name][day_part]["translator"] in person_colors) {
                                tx_td.style.background=person_colors[schedule_data[day_name][day_part]["translator"]];
                            }
                            tx_td = document.getElementById(day_name + "." + day_part + ".reviewer");
                            tx_td.innerText = schedule_data[day_name][day_part]["reviewer"];
                        }
                    }
                }
            }

            var change_mode = false;

            function select_edition_to_change() {
                if (!confirm("You are about to change the schedule. \n" +
                "This should *only* be done after communicating the change on the Whatsapp group!\n\n" +
                "Have you informed the group of this change?\n\n")) {
                    return;
                }
                if (!confirm("After dismissing this dialog box, click on the edition which you wish to change.")) {
                    return;
                }
                change_mode = true;
            }

            function edition_clicked(edition_cell) {
                if (!change_mode) {
                    return;
                }

                edition_parts = edition_cell.id.split('.');

                change_type = prompt("Do you want to change the *translator* (enter T or t) or *reviewer* (enter R or r) for " 
                                + edition_parts[0] + " " + edition_parts[1]);
                if (['T','t','R','r'].includes(change_type)) {
                    var spelled_out = change_type.toLowerCase() == "t" ? "translator" : "reviewer";
                    new_val = prompt("Enter the name of the new " + spelled_out + 
                    ".\nYou can leave the field blank to make the " + spelled_out + " unassigned.");

                    fetch("/tx_schedule_thisweek_change?" + new URLSearchParams({
                        day_name: edition_parts[0],
                        edition_name: edition_parts[1],
                        which_role: change_type.toLowerCase() == 't' ? "tx" : "rv",
                        new_volunteer: new_val
                    })
                    ).then(
                        // as long as it returns success, don't do anything
                       // (response) => {alert(response);}
                    ).then(
                        (obj) => {document.location = "/tx_schedule_curr";}
                    ).catch(function(error) {
                        alert("There was a problem making the change: " + error);
                    });       


                } else {
                    alert("Invalid entry, ignoring.");
                }

            }

        </script>
    </head>
    <body onload="update_table_with_schedule();">
        <center>
            <br>
            <h3>Schedule for the week of {{week_being_scheduled}}</h3>
            <table border="1">
                <tr>
                    {% for day_name in week %}
                        <th style="padding-top:10px; padding-bottom:10px">{{day_name}}</th>
                    {% endfor %}        
                </tr>
                <tr>
                    {% for day_name in week %}
                        <td align="center">
                            <table border="0" cellspacing="10px" width="128px">
                                {% for edition in [week[day_name].morning, week[day_name].afternoon, week[day_name].evening] %}
                                    <tr>
                                        <td id="{{day_name}}.{{edition.name}}" align="center" onclick="edition_clicked(this);">
                                            <table border="1" width="100%" cellpadding="14px">
                                                <tr><td width="70px" align="center" id="{{day_name}}.{{edition.name}}.translator"></td></tr>
                                                <tr><td width="70px" align="center" id="{{day_name}}.{{edition.name}}.reviewer"></td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    {% endfor %}        
                </tr>
            </table>
            <br><br><br>
            The algorithm for scheduling translators and reviewers is <a target="_blank" href="https://w.splitc.com/en/tamtzit/translation-scheduling">documented here.</a>
            <br><br>
            If necessary, you can change one of the assignments. <br>
            <b>Please only do this after communicating the change on the appropriate Whatsapp group!</b><br>
            <a onclick="select_edition_to_change();" style="color: #3333FF; font-weight: bold;">Click to  begin.</a>
        </center>
    </body>
</html>